body {
    background-color: #d3ccb9;
    color: #52352a;
    font-family: Arial, sans-serif;
}
img {
    width: 300px;  
    height: auto;   
}
h1 {
    color: #cb030d;
}
h2, h3 {
    color: #cb030d;
}
